---
import Layout from "@layouts/Layout.astro";
import employees from "@data/employees.json";
import DynamicImage from "@components/helpers/DynamicImage.astro";
import DynamicIcon from "@components/helpers/DynamicIcon.astro";
import Nav from "@components/Nav.astro";
import Footer from "@components/Footer.astro";
import Newsletter from "@components/Newsletter.astro";

export function getStaticPaths() {
  return employees.map((employee) => ({
    params: { employee: employee.slug },
    props: { employee },
  }));
}

const { employee } = Astro.props;
---

<Layout title={employee.name}>
  <Nav />
  <section class="employee-section">
    <div class="employee-container">
      <div class="employee-image-wrapper">
        <img src="src/data/images/Pattern.svg" alt="" />
        <div class="green"></div>
        <DynamicImage imagePath={employee.img} altText={employee.name} class="photo" />
      </div>
      <div class="employee-info">
        <div class="employee-header-wrapper">
          <div class="employee-header">
            <h1>{employee.name}</h1>
            <p class="title">{employee.title}</p>
          </div>
          <div class="v-divider"></div>
          <div class="social-links">
            {
              employee.social_links.map((link) => (
                <a href={link.url} target="_blank" rel="noopener noreferrer">
                  <DynamicIcon name={link.icon} />
                </a>
              ))
            }
          </div>
        </div>
        <p class="description">{employee.description_long}</p>
        <div class="h-divider"></div>
        <div class="past-experience">
          <h2>Past Experience</h2>
          <p>{employee.past_experience}</p>
        </div>
      </div>
    </div>
  </section>
    <Newsletter />
    <Footer />

  <style>
    @layer components {
      .employee-section {
        padding: 100px 38px;

        @media (max-width: 1024px) {
          padding: 80px 38px;
        }
        .employee-container {
          display: flex;
          justify-content: space-between;
          max-width: 1200px;
          gap: 40px;
          margin: 0 auto;

          @media (max-width: 1024px) {
            flex-direction: column;
            align-items: center;
          }

          .employee-image-wrapper {
            position: relative;
            flex-shrink: 0;

            .photo {
              width: 478px;
              height: auto;
              display: block;
              position: relative;
              z-index: 2;
              border-radius: 28px;
            }

            .green {
              position: absolute;
              top: -26px;
              left: -28px;
              width: 183px;
              height: 164px;
              background-color: #4eaf4e;
              z-index: 1;
              border-radius: 20px;
            }
            img:first-child {
              position: absolute;
              top: -58px;
              left: -200px;
              width: 100%;
              height: 60%;
              z-index: 0;
            }
        }

        .employee-info{
          max-width: 633px;

          .employee-header-wrapper{
            max-width: 500px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 35px;

            .employee-header {
              h1 {
                font-size: 35px;
                margin: 0;
              }
              .title {
                font-size: 20px;
                color: #595566;
              }
            }

            .v-divider {
              width: 1px;
              height: 50px;
              background-color: #C1C1C1;
            }
            .social-links {
              display: flex;
              gap: 25px;

              a {
                color: #181818;
                border: none;
                background: none;
                padding: 0;
              }
            }
          }

          .description {
            color: #595566;
          }

          .h-divider {
            width: 100%;
            height: 1px;
            background-color: #C1C1C1;
            margin: 40px 0;
          }

          .past-experience {
            h2 {
              color: #181818;
              font-size: 35px;
              font-weight: 700;
              line-height: 116%;
              margin-bottom: 13px;
            }
            p {
              color: #595566;
            }
          }
        }
      }
    }
  </style>
</Layout>
