---
//@ts-nocheck
import DynamicImage from "@components/helpers/DynamicImage.astro";
import caseStudy from "@data/caseStudy.json";
const { caseName, category, date, image, buttonLabel } = caseStudy.caseDetails;
---

<article>
  <header>
    <DynamicImage imagePath={image} altText={caseName} />
    <div class="case-details">
      <dl>
        <div>
          <dt>Case Name</dt>
          <dd>{caseName}</dd>
        </div>
        <div>
          <dt>Category</dt>
          <dd class="category">{category}</dd>
        </div>
        <div>
          <dt>Date</dt>
          <dd class="date">{date}</dd>
        </div>
      </dl>
      <a href="#0" class="button">{buttonLabel}</a>
    </div>
  </header>
  {
    caseStudy.sections.map((section) => (
      <section>
        {caseStudy.sections[0] === section ? <h2>{section.title}</h2> : <h3>{section.title}</h3>}

        {Array.isArray(section.content) ? (
          <>
            {section.content.map((item) => (
              <p>{item}</p>
            ))}
          </>
        ) : (
          <p>{section.content}</p>
        )}
        {section.highlights && (
          <ul>
            {section.highlights.map((highlight) => (
              <li>{highlight}</li>
            ))}
          </ul>
        )}
        {section.image && <DynamicImage imagePath={section.image} altText={section.title} width={600} height={400} />}
      </section>
    ))
  }
</article>

<style>
  @layer components {
    article {
      padding: 80px 38px;
      header {
        max-width: 1200px;
        margin: 0 auto;

        img {
          width: 100%;
          height: auto;
          border-radius: 20px;
        }

        .case-details {
          background-color: var(--bg-dark);
          color: var(--color-white);
          padding: 53px 60px;
          display: flex;
          max-width: clamp(0px, 80vw, 1028px);
          justify-content: space-between;
          position: relative;
          margin: 0 auto;
          margin-top: -60px;
          margin-bottom: 60px;
          border-radius: 30px;
          gap: 20px;
          flex-wrap: wrap;

          @media (max-width: 768px) {
            align-items: center;
            padding: 30px 20px;
            margin-top: -10px;
            margin-bottom: 40px;
          }

          a:hover {
            translate: 0 -3px;
          }

          dl {
            display: flex;
            gap: clamp(20px, 10vw, 100px);
            flex-wrap: wrap;

            @media (max-width: 768px) {
              /* flex-direction: column; */
              gap: 20px;
            }

            div {
              display: flex;
              flex-direction: column;
              gap: 10px;

              dt {
                font-family: var(--font-heading);
                font-size: var(--font-size-lg);
                font-weight: var(--font-weight-medium);
                line-height: var(--line-height-tight);
              }

              dd {
                font-family: var(--font-heading);
                font-size: var(--font-size-base);
                font-weight: var(--font-weight-regular);
                line-height: var(--line-height-tight);
              }
            }
          }

          .button {
            border: none;
            background-color: var(--bg-yellow);
            color: var(--color-text-dark);
          }
        }
      }

      section {
        max-width: 792px;
        margin: 0 auto;
        color: var(--color-text-dark);
        h2 {
          font-size: var(--font-size-5xl);
          font-weight: var(--font-weight-bold);
          line-height: var(--line-height-tight);
          margin-bottom: 15px;
        }
        h3 {
          color: var(--color-text-gray-alt);
          font-size: var(--font-size-3xl);
          font-weight: var(--font-weight-bold);
          line-height: var(--line-height-tight); /* 34.8px */
        }

        p {
          color: var(--color-text-medium);
        }

        ul {
          list-style-type: disc;
          margin-left: 20px;
          color: var(--color-text-medium);
          margin-bottom: 64px;
        }

        p,
        h3,
        img {
          margin-bottom: 26px;
        }
        img {
          width: 714px;
          height: auto;
          aspect-ratio: 2/1;
          margin-inline: auto;
        }
      }
    }
  }
</style>
