---
import coreValues from "@data/coreValues.json";
import DynamicIcon from "./helpers/DynamicIcon.astro";
import RightArrow from "@icons/arrow--right.svg";
const { mode } = Astro.props;
---

<section class={mode}>
  <div class="core-values-content">
    <div class="text-wrapper">
      <div class="text-content">
        <h3>Growing with our clients</h3>
        <h2>{coreValues.title}</h2>
        <p>{coreValues.subtitle}</p>
      </div>
      <a href={coreValues.button.link} class={mode}>{coreValues.button.text}</a>
    </div>

    <div class="cards-wrapper">
      {
        coreValues.values.map((card) => (
          <div class={`value-container ${mode}`}>
            <DynamicIcon name={card.icon} class="value-icon" />
            <h4>{card.title}</h4>
            <p>{card.description}</p>
            <div class="read-more">
              <a href={card.link.url}>{card.link.text}</a>
              <RightArrow class="arrow-icon" />
            </div>
          </div>
        ))
      }
    </div>
  </div>
</section>

<style>
  @layer components {
    section {
      padding: 100px 38px;

      &.dark {
        background-color: var(--bg-dark);
        color: var(--color-white);
      }

      &.light {
        background-color: var(--bg-light-gray);
        color: var(--color-text-dark);
      }

      @media (max-width: 768px) {
        padding: 80px 38px;
      }

      .core-values-content {
        max-width: 1200px;
        margin: 0 auto;

        .text-wrapper {
          display: flex;
          justify-content: space-between;
          flex-wrap: wrap;
          margin-bottom: 34px;

          a:hover {
            translate: 0 -3px;
          }

          .text-content {
            max-width: 600px;

            h3 {
              font-family: var(--font-body);
              font-weight: var(--font-weight-regular);
              font-size: var(--font-size-base);
              letter-spacing: 2.32px;
              text-transform: uppercase;
            }

            h2 {
              font-size: var(--font-size-6xl);
              font-weight: var(--font-weight-bold);
              margin: 10px 0;
            }
          }

          a {
            align-self: flex-end;
            margin-top: 20px;

            &.dark {
              background-color: var(--bg-white);
              color: var(--color-text-dark);
            }

            &.light {
              background-color: var(--bg-dark);
              color: var(--color-white);
              border: none;
            }
          }
        }

        .cards-wrapper {
          display: flex;
          gap: 36px;

          @media (max-width: 992px) {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
          }

          @media (max-width: 768px) {
            grid-template-columns: 1fr;
          }

          .value-container {
            color: var(--color-text-dark);
            border: 1px solid var(--border-medium-gray);
            border-radius: 8px;
            padding: 36px 23px;
            height: fit-content;
            width: 100%;

            &.dark {
              background-color: var(--bg-light-gray);
            }

            &.light {
              background-color: var(--bg-white);
            }

            h4 {
              font-size: var(--font-size-lg);
              font-weight: var(--font-weight-semibold);
              color: var(--color-text-dark);
              margin: 22px 0 15px 0;
            }

            p {
              color: var(--color-text-medium);
              margin-bottom: 15px;
            }

            .value-icon {
              width: 48px;
              height: 48px;
              color: var(--bg-light-gray);
              background-color: var(--bg-dark);
              padding: 12px;
              border-radius: 50%;
            }

            .read-more {
              display: flex;
              align-items: center;
              gap: 10px;
              transition: all 0.3s ease-in-out;

              &:hover {
                translate: 0 -3px;
              }

              a {
                background: none;
                border: none;
                padding: 0;
                margin: 0;
                color: var(--color-text-dark);
                font-weight: var(--font-weight-semibold);
                font-size: var(--font-size-md);
                translate: 0;
              }

              .arrow-icon {
                width: 16px;
                height: 16px;
                color: var(--color-text-dark);
              }
            }
          }
        }
      }
    }
  }
</style>
