---
import employees from "@data/employees.json";
import DynamicIcon from "./helpers/DynamicIcon.astro";
import DynamicImage from "./helpers/DynamicImage.astro";
---

<section class="our-team-small">
  <div class="our-team-wrapper">
    <div class="text-content">
      <h3>Our team</h3>
      <h2>We champion the bold to achieve the extraordinary</h2>
      <p>Our success stems from the synergy between dedicated teams and our valued clients. We prioritize a company culture that fosters exceptional productivity, ensures customer satisfaction, and promotes mutual respect among all team members.</p>
    </div>
    <div class="team-members">
      {
        employees.slice(0, 3).map((employee) => (
          <div class="team-member">
            <div class="image-wrapper">
              <a href={`/${employee.slug}`}>
                <DynamicImage imagePath={employee.img} altText={employee.name} class="TeamMemberImage" />
              </a>
              <p class={employee.slug}>{employee.title}</p>
            </div>
            <h4>{employee.name}</h4>
            <p>{employee.description}</p>
            <div class="social-links">
              {employee.social_links.map((link) => (
                <a href={link.url} target="_blank" rel="noopener noreferrer">
                  <DynamicIcon name={link.icon} />
                </a>
              ))}
            </div>
          </div>
        ))
      }
    </div>
  </div>
</section>

<style>
  @layer components {
    .our-team-small {
      padding: 60px 38px;

      .our-team-wrapper {
        max-width: 1200px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        gap: 50px;
      }

      .text-content {
        max-width: 600px;

        h3 {
          font-family: var(--font-body);
          font-weight: var(--font-weight-regular);
          font-size: var(--font-size-base);
          letter-spacing: 2.32px;
          text-transform: uppercase;
        }

        h2 {
          font-size: var(--font-size-6xl);
          font-weight: var(--font-weight-bold);
          margin: 10px 0;
        }
      }

      .team-members {
        display: flex;
        gap: 50px;
        justify-content: space-between;

        @media (max-width: 768px) {
          flex-direction: column;
          align-items: center;
        }

        .team-member {
          text-align: center;
          max-width: 400px;

          .image-wrapper {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: auto;
            transition: all 0.3s ease-in-out;

            &:hover {
              scale: 1.03;
            }

            > * {
              grid-column: 1 / -1;
              grid-row: 1 / -1;
            }

            a {
              background: none;
              border: none;
              padding: 0;
              margin: 0;
              transition: none;
            }

            p {
              background-color: var(--bg-dark);
              color: var(--color-white);
              padding: 4px 21px;
              border-radius: 29px;
              margin: 20px;
              align-self: end;
              justify-self: end;
            }

            .sarah-jasmine {
              background-color: var(--bg-yellow);
              color: var(--color-text-dark);
            }

            .TeamMemberImage {
              border-radius: 20px;
              width: 100%;
              height: auto;
              display: block;
            }
          }

          h4 {
            margin-top: 25px;
            margin-bottom: 13px;
            font-size: var(--font-size-3xl);
            color: var(--color-text-dark);
            font-weight: var(--font-weight-bold);
          }

          p {
            color: var(--color-text-medium);
          }

          .social-links {
            margin-top: 15px;
            display: flex;
            justify-content: center;
            gap: 30px;

            a {
              color: var(--color-text-dark);
              border: none;
              background: none;
              padding: 0;

              &:hover {
                translate: 0 -3px;
                color: var(--color-primary-yellow);
              }
            }
          }
        }
      }
    }
  }
</style>
